@model SCManagement.Models.CodeClub

<div>
    <h4>CodeClub</h4>
    <hr />

    @if (ViewBag.ApprovedCodeStatus == true)
    {
        <p>Code successfully approved</p>
    }
    else if (ViewBag.ApprovedCodeStatus == false)
    {
        <p>Error approving code</p>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsedByUser.FullName)
        </dd>
        @if (!Model.Approved && ViewBag.IsAdmin)
        {
            <a href="/Clubs/Codes?approveCode=@Model.Id">Approve</a>
        }
        
        @if (ViewBag.QRCode != null)
        {
            <img src="@ViewBag.QRCode" style="width:200px; height:200px" />
        }
        
        <form asp-action="SendCodeEmail">
            <div class="form-group">
                <label name="Email" value="Email" class="control-label"></label>
                <input name="Email" class="form-control" />
            </div>
            <input name="CodeId" value="@Model.Id" class="form-control" hidden />
            <input name="ClubId" value="@Model.ClubId" class="form-control" hidden />
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </dl>
</div>

<script type="text/javascript">
    window.onload = () => {
        document.getElementById("modal").style.display = "block";
    }
</script>
