@model SCManagement.Models.Club

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">

        <img id="profilePicture"
             src="@Model.Photography.Uri"
             class="rounded-circle"
             width="128px"
             height="128px" />

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modalities)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.modalities)
            {
                <p>@item.Text</p>
            }
        </dd>
        <form asp-action="Associate">
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.btnValue" class="btn @ViewBag.btnClasses" />
            </div>
        </form>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, "/Clubs/Details/" + "@Model.Id");
    }
</script>

@*window.onload = (event) => {
  console.log("page is fully loaded");
};*@
@*
<script>
    function submeter(isAssociate) {
        let id = "@Model.Id";
        let url = "/Clubs/Associate/" + id;
        $.post(url, function (data) {
            if (data.success) {
                alert("success");
            }
            else {
                alert("error");
            }
        });
    }

    $.ajax({
        type: 'POST',
        url: '@Url.Action("Associate","AddressT")', // we are calling json method
        dataType: 'json',
        data: { id: $("#District").val() },
        success: function (counties) {
            // counties contains the JSON formatted list
            // of counties passed from the controller
            $("#County").append('<option value="' + "0" + '">' + "Select county" + '</option>');
            $.each(counties, function (i, state) {
                $("#County").append('<option value="' + state.id + '">' + state.name + '</option>');
                // here we are adding option for counties
            });
</script>
*@