@model IEnumerable<SCManagement.Models.Club>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Index";
}
<style>

    #map {
        position: absolute;
        top: 76px;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 20px;
        height: 100%;
    }

    .mapboxgl-canvas-container {
        height: 100%;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 76px;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.5s;
        }

            .sidebar a:hover {
                color: #f1f1f1;
            }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #openbtn {
        font-size: 20px;
        cursor: pointer;
        height: 80px;
        width: 60px;
        background-color: #00639A;
        color: white;
        padding: 10px 15px;
        border: none;
        position: fixed;
        top: 150px;
        z-index: 1;
        left: -8px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        transition: 0.5s;
    }

    footer {
        display: none;
    }

    .popupCard {
        font-size: 14px;
        margin-bottom: 0 !important;
        padding: 5px 15px;
    }

    .mapboxgl-popup-content {
        padding: 5px !important;
    }

    #menu {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        right: 0;
        z-index: 1;
    }

</style>

<!-- Import Mapbox GL JS  -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
      rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin="" />

<div class="container-fluid" style="height:50%; align-self:center">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="@StringLocalizer["Search"]" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>

        @await Html.PartialAsync("_PartialSearchClub",Model)

    </div>

    <button id="openbtn" onmouseover="openNav()"><i class="fa-solid fa-chevron-right"></i></button>
    <div id='map' style="border-radius:0 !important;">
        <div id="menu">
            <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
            <label for="satellite-streets-v12">@StringLocalizer["ViewSatellite"]</label>
            <input id="light-v11" type="radio" name="rtoggle" value="light">
            <label for="light-v11">@StringLocalizer["ViewLight"]</label>
            <input id="dark-v11" type="radio" name="rtoggle" value="dark">
            <label for="dark-v11">@StringLocalizer["ViewDark"]</label>
            <input id="streets-v12" type="radio" name="rtoggle" value="streets" checked="checked">
            <label for="streets-v12">@StringLocalizer["ViewStreets"]</label>
        </div>
    </div>


</div>



<script src="~/js/Mapbox.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var strings = {
        "placeholder": '@Html.Raw(StringLocalizer["Placeholder"].Value.ToString())',
    }
    console.log(strings.placeholder);

    function openNav() {
        if (window.innerWidth <= 768) {
            document.getElementById("mySidebar").style.width = "100%"
        } else {
            document.getElementById("mySidebar").style.width = "600px"
        }

        document.getElementById("mySidebar").style.paddingLeft = "30px"
        document.getElementById("mySidebar").style.paddingRight = "30px"
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("mySidebar").style.paddingLeft = "0";
        document.getElementById("mySidebar").style.paddingRight = "0";
    }

    $(function () {
        $('input[type="search"]').on('input', function () {
            var term = $(this).val();

            if (term.length >= 1) {
                search(term);
            }
            else {
                search(null);
            }
        });

        function search(term) {
            $.ajax({
                type: 'GET',
                url: '/Clubs/SearchNameClubs',
                data: { name: term },
            }).done(function (data) {
                $('#search-results-partial').html(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Erro: " + textStatus + ", " + errorThrown);
                console.log("Resposta do servidor: " + jqXHR.responseText);
            });
        }
    });
</script>
