@model IEnumerable<SCManagement.Models.UsersRoleClub>

@{
    ViewData["Title"] = "MembersList";
}

<h1>MembersList</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
                @if (item.RoleId != 50)
                {
                    <td>
                    <a asp-action="RemoveMember" asp-route-id="@item.Id" asp-route-clubId="@ViewBag.ClubId">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
