@model IEnumerable<SCManagement.Models.UsersRoleClub>

@{
    ViewData["Title"] = "PartnersList";
}

<h1>PartnersList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    <form asp-action="RemoveUser">
                        <input name="usersRoleClubId" value="@item.Id" class="form-control" hidden />
                        <input name="page" value="PartnersList" class="form-control" hidden />
                        <input type="submit" value="Remove partner" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>