@model IEnumerable<SCManagement.Models.UsersRoleClub>

@{
    ViewData["Title"] = "StaffList";
}
<div class="mt-5">
    <h1>StaffList</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    <form asp-action="RemoveUser" class="@(ViewBag.UserRoleId > item.RoleId ? "": "d-none")">
                        <input name="usersRoleClubId" value="@item.Id" class="form-control" hidden />
                        <input name="page" value="StaffList" class="form-control" hidden />
                        <input type="submit" value="Remove staff" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
