@model IEnumerable<SCManagement.Models.User>
@inject IStringLocalizer<SharedResource> StringLocalizer

<h1>Atletas</h1>
    
<form method="post" asp-action="AddTeamAthletes">
    <div class="row col-12 ps-5 pe-5 pb-5 flex-wrap">
        <div class="card mt-3 shadow" style="height:100% !important;  border-radius:20px;">
            <div class="card-body d-flex flex-column text-to-dark">
                <div class="table-responsive" style="width: 100%; max-height: 300px; overflow-y: auto;">
                    <table id="table_id1" class="display" style="width:100%!important;">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                                <th>@Html.DisplayNameFor(model => model.Age)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                                <td><input type="checkbox" name="selectedAthletes" value="@item.Id"></td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <button>@StringLocalizer["ButtonAdd"]</button>
</form>

<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/DataTables-1.13.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/Responsive-2.4.0/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>

<script>
    
    $(document).ready(function () {
        $.noConflict();
        $("#table_id1").DataTable({
            destroy: true,
            responsive: true,
            "dom": 't',
            "info": false,
            language: {
                "lengthMenu": "@StringLocalizer["Show"] _MENU_ @StringLocalizer["EntriesDatatable"]",
                "emptyTable": "@StringLocalizer["EmptyMessage"]",
                "search": "@StringLocalizer["Search"]",
                "zeroRecords": "@StringLocalizer["NoMatching"]",
                "processing": "@StringLocalizer["Processing"]",
                "infoFiltered": "(@StringLocalizer["Filtered"] @StringLocalizer["From"] _MAX_ total @StringLocalizer["EntriesDatatable"])",
                "info": "@StringLocalizer["Showing"] _START_ @StringLocalizer["To"] _END_ @StringLocalizer["OfDatatable"] _TOTAL_ @StringLocalizer["EntriesDatatable"]",
                "infoEmpty": "@StringLocalizer["Showing"] 0 @StringLocalizer["OfDatatable"] 0 @StringLocalizer["EntriesDatatable"]",
                "paginate": {
                    first: "@StringLocalizer["First"]",
                    last: "@StringLocalizer["Last"]",
                    next: "@StringLocalizer["Next"]",
                    previous: "@StringLocalizer["Previous"]",
                },
            },
        });
    })
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
