@model SCManagement.Models.CodeClub
@inject IStringLocalizer<SharedResource> stringLocalizer

<div>
    <h4>CodeClub</h4>
    <hr />

    @if (ViewBag.ApprovedCodeStatus == true)
    {
        <p>@stringLocalizer["codeapproved"]</p>
    }
    else if (ViewBag.ApprovedCodeStatus == false)
    {
        <p>@stringLocalizer["Error approving code"]</p>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsedByUser.FullName)
        </dd>
        @if (!Model.Approved && ViewBag.IsAdmin)
        {
            <a href="/Clubs/Codes?approveCode=@Model.Id">@stringLocalizer["Approve"]</a>
        }

        <div id="qrcode"></div>

        <form asp-action="SendCodeEmail">
            <div class="form-group">
                <label name="Email" value="Email" class="control-label"></label>
                <input name="Email" class="form-control" />
            </div>
            <input name="CodeId" value="@Model.Id" class="form-control" hidden />
            <input name="ClubId" value="@Model.ClubId" class="form-control" hidden />
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </dl>
</div>

<script type="text/javascript" charset="utf8" src="/lib/qrcodejs/qrcode.js"></script>
<script type="text/javascript">
    window.onload = () => {
        document.getElementById("modal").style.display = "block";
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: `https://${window.location.host}/Clubs/Join?code=@Model.Code`,
            width: 200,
            height: 200,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    }
</script>
