@model SCManagement.Models.User

<div class="d-flex justify-content-center">
    <div class="col-6 me-3 d-flex justify-content-center">
        <img id="clubPicture"
             src="@(Model.ProfilePicture?.Uri ?? "https://cdn.scmanagement.me/public/user_placeholder.png")"
             class="rounded-circle"
             width="150px"
             height="150px"
             style="object-fit:cover;" />
    </div>
    <div class="col-6 d-flex align-items-center">
        <dl>
            <dt class="row text-to-dark">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="row text-to-dark">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="row text-to-dark">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="row text-to-dark">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
        </dl>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    window.onload = () => {
        document.getElementById("modal").style.display = "block";
    }
</script>