@model IEnumerable<SCManagement.Models.CodeClub>

@{
    ViewData["Title"] = "CodesList";
}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bootstrap.styles.css" asp-append-version="true" />

</head>

<body class="body">
    <div class="container-fluid ps-5 pe-5">
        <h1 style="margin-top:130px !important;">Codes</h1>
        <p>
            <button onclick="openCreate()">Create New</button>
        </p>
        <div class="card card-to-dark mt-5 shadow" style="height:650px !important;">
            <div class="card-body">

                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span onclick="$('#modal').hide()" class="close">&times;</span>
                        <div id="modal-inner-content">
                            @if (ViewBag.Code != null)
                            {
                                @await Html.PartialAsync("_PartialShowCode", (CodeClub)ViewBag.Code)
                            }
                            @if (ViewBag.ApprovedCodeStatus != null)
                            {
                                @await Html.PartialAsync("_PartialShowCode", Model.First(f=>f.Code == ViewBag.ApprovedCode))
                            }
                        </div>
                    </div>

                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreationDate)
                                <i type="button" class="fa-solid fa-sort-up" id="sortcreationdate" onclick="sortcreationdate()"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpireDate)
                                <i type="button" class="fa-solid fa-sort-up" id="sortexpiredate" onclick="sortexpiredate()"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsedDate)
                                <i type="button" class="fa-solid fa-sort-up" id="sortuseddate" onclick="sortuseddate()"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Approved)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                                <i type="button" class="fa-solid fa-sort-up" id="sortrole" onclick="sortrole()"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedByUser)
                                <i type="button" class="fa-solid fa-sort-up" id="sortcreateduser" onclick="sortcreateduser()"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsedByUser)
                                <i type="button" class="fa-solid fa-sort-up" id="sortusedbyuser" onclick="sortusedbyuser()"></i>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpireDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Approved)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedByUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsedByUser.FullName)
                                </td>
                                <td>
                                    <a href="/MyClub/Codes?code=@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>



<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<script type="text/javascript">
    let modal = document.getElementById("modal")
    window.onclick = function (event) {
        if (event.target == modal) {
            $("#modal").hide();
        }
    }

    function openCreate() {
        $.ajax({
            url: '/MyClub/CreateCode',
            type: 'GET',
            async: false,
            success: function (result) {
                $("#modal-inner-content").html(result);
                $("#modal").show();
            }
        });
    }

    function sortcreationdate() {
        let sortname = document.getElementById("sortcreationdate");
        sortSwap(sortname);
    }
    function sortexpiredate() {
        let sortname = document.getElementById("sortexpiredate");
        sortSwap(sortname);
    }
    function sortuseddate() {
        let sortname = document.getElementById("sortuseddate");
        sortSwap(sortname);
    }
    function sortrole() {
        let sortname = document.getElementById("sortrole");
        sortSwap(sortname);
    }
    function sortcreateduser() {
        let sortname = document.getElementById("sortcreateduser");
        sortSwap(sortname);
    }
    function sortusedbyuser() {
        let sortname = document.getElementById("sortusedbyuser");
        sortSwap(sortname);
    }

    function sortSwap(sortelem){
        if (sortelem.classList.contains("fa-sort-up")) {
            sortelem.classList.remove("fa-sort-up");
            sortelem.classList.add("fa-sort-down");
        } else {
            sortelem.classList.remove("fa-sort-down");
            sortelem.classList.add("fa-sort-up");
        }
    }
</script>
