@model Club;
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "My Club";
}

<style>
    .btn1 {
        border-radius: 10px;
        margin-left: 20px;
        padding: 5px 25px 5px 25px;
        background-color: #00639A;
        border-color: #00639A;
    }

    .flip-card {
        width: 100% !important;
        height: 100% !important;
        perspective: 1000px;
        border-radius: 20px;
        opacity: 0;
        animation: slideUp 1.5s ease forwards .5s;
    }

    .flip-card-inner {
        padding: 30px;
        width: 100% !important;
        background-color: white;
        display: flex;
        justify-content: center;
        height: 100% !important;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 20px;
    }

        .flip-card-inner:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
        }
</style>

<div class="container-fluid p-4 w-100">
    @if (Model == null)
    {
        <div class="text-center" style="margin-top:130px;">
            <img id="swapImage" src="~/img/NoClubBlack.png" alt="No club" width="250" height="250">
            <br />
            <h2 class="text-to-dark">@StringLocalizer["associated"]</h2>
            <br />
            <a type="button" class="btn btn1 text-white" asp-controller="Clubs" asp-area="" asp-action="Join">
                @StringLocalizer["Join a club"]
            </a>
            <br />
            <a type="button" class="btn btn1 mt-3 text-white" asp-controller="Clubs" asp-area="" asp-action="Create">
                @StringLocalizer["Create a club"]
            </a>
        </div>
    }
    else
    {
        <div class="text-center" style="margin-top:2%;">
            <h1 class="display-4 mb-5 text-to-dark" style="opacity: 0; animation: slideUp 1.5s ease forwards .5s;">
                @StringLocalizer["Welcomeclub"] @Model.Name
            </h1>
        </div>

        <div class="row d-flex justify-content-center text-center">
            <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                <a asp-controller="Clubs" asp-action="Details" asp-route-id="@Model.Id" style="color:black; text-decoration:none;" title="@StringLocalizer["Public Page"]">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <img src="~/img/Home-icon.svg.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                            <div style="position:absolute; bottom:15px;">
                                <strong style="font-size:100%!important;">@StringLocalizer["Public Page"]</strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @if ((int)ViewBag.RoleId == 50)
            {
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="Edit" style="color:black; text-decoration:none;" title="@StringLocalizer["Edit"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/edit.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["Edit"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="PaymentSettings" style="color:black; text-decoration:none;" title="@StringLocalizer["PaymentSettings"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/paymentSettings.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["PaymentSettings"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if ((int)ViewBag.RoleId >= 40)
            {
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="StaffList" style="color:black; text-decoration:none;" title="Staff">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/staff-8.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">Staff</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="PartnersList" style="color:black; text-decoration:none;" title="@StringLocalizer["Partners"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/partners.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["Partners"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="Codes" style="color:black; text-decoration:none;" title="@StringLocalizer["Codes"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/qr.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["Codes"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="PaymentsRecieved" style="color:black; text-decoration:none;" title="@StringLocalizer["PaymentsRecieved"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/paymentsReceived.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["PaymentsRecieved"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="Statistics" asp-action="Index" style="color:black; text-decoration:none;" title="@StringLocalizer["Statistics"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/statistics.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["Statistics"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }
            @if ((int)ViewBag.RoleId >= 30)
            {
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="AthletesList" style="color:black; text-decoration:none;" title="@StringLocalizer["Athletes"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/athelets.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["Athletes"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="TeamList" style="color:black; text-decoration:none;" title="@StringLocalizer["Teams"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/team-28.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["Teams"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }
            @if ((int)ViewBag.RoleId == 20)
            {
                <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
                    <a asp-controller="MyClub" asp-action="MyTeams" style="color:black; text-decoration:none;" title="@StringLocalizer["MyTeams"]">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <img src="~/img/team-28.png" style="height:90%; width:90%; object-fit:contain; border-radius:20px;  margin-bottom:15px;" class="card-img-top" />
                                <div style="position:absolute; bottom:15px;">
                                    <strong style="font-size:100%!important;">@StringLocalizer["MyTeams"]</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>


    }
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
