@model Club;
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "My Club";
}

<div class="container-fluid w-100">
    @if (Model == null)
    {
        <div class="text-center" style="margin-top:130px;">
            <img id="swapImage" src="~/img/NoClubBlack.png" alt="No club" width="250" height="250">
            <br />
            <h2 class="text-to-dark">@StringLocalizer["associated"]</h2>
            <br />
            <a type="button" class="btn btn1 text-white" asp-controller="Clubs" asp-area="" asp-action="Join">
                @StringLocalizer["Join a club"]
            </a>
            <br />
            <a type="button" class="btn btn1 mt-3 text-white" asp-controller="Clubs" asp-area="" asp-action="Create">
                @StringLocalizer["Create a club"]
            </a>
        </div>
    }
    else
    {
        <div class="text-center" style="margin-top:15%;">
            <h1 class="display-4 mb-5 text-to-dark">@StringLocalizer["Welcomeclub"] @Model.Name</h1>
        </div>

        <div class="row d-flex justify-content-center row-cols-md-auto text-center">
            <div>
                <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="Clubs" asp-action="Details" asp-route-id="@Model.Id">@StringLocalizer["Public Page"]</a>
            </div>

            @if ((int)ViewBag.RoleId == 50)
            {
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="Edit">@StringLocalizer["Edit"]</a>
                </div>
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="PaymentSettings">@StringLocalizer["PaymentSettings"]</a>
                </div>
            }
            @if ((int)ViewBag.RoleId >= 40)
            {
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="StaffList">Staff</a>
                </div>
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="PartnersList">@StringLocalizer["Partners"]</a>
                </div>
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="Codes">@StringLocalizer["Codes"]</a>
                </div>
            }
            @if ((int)ViewBag.RoleId >= 30)
            {
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="AthletesList">@StringLocalizer["Athletes"]</a>
                </div>
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="TeamList">@StringLocalizer["Teams"]</a>
                </div>
            }
            @if ((int)ViewBag.RoleId == 20)
            {
                <div>
                    <a class="btn btn1 btn-primary btn-lg col mt-3" asp-controller="MyClub" asp-action="MyTeams">@StringLocalizer["MyTeams"]</a>
                </div>
            }
        </div>


    }
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<style>
    .btn1 {
        border-radius: 10px;
        margin-left: 20px;
        padding: 5px 25px 5px 25px;
        background-color: #00639A;
        border-color: #00639A;
    }
</style>
