@model IEnumerable<SCManagement.Models.Team>

@{
    ViewData["Title"] = "MyTeams";
}

<h1 class="text-to-dark">MyTeams</h1>


<table class="table">
    <thead>
        <tr>
            <th class="text-to-dark">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-to-dark">
                @Html.DisplayNameFor(model => model.Modality)
            </th>
            <th class="text-to-dark">
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-to-dark">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-to-dark">
                    @Html.DisplayFor(modelItem => item.Modality.Name)
                </td>
                <td class="text-to-dark">
                    @Html.DisplayFor(modelItem => item.Trainer.FullName)
                </td>
                <td>
                    <a asp-action="TeamDetails" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
