@model IEnumerable<SCManagement.Models.Team>

@{
    ViewData["Title"] = "MyTeams";
}


<div class="container-fluid ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark">MyTeams</h1>
    <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Modality)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Trainer)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Modality.Name)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Trainer.FullName)
                            </td>
                            <td>
                                <a asp-action="TeamDetails" asp-route-id="@item.Id" title="Team details">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            columnDefs: [
            { orderable: false, targets: [-1] }
            ]
        });
    });
</script>