@model IEnumerable<SCManagement.Models.UsersRoleClub>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "PartnersList";
}


<div class="container-fluid ps-5 pe-5">
    <div id="modal" class="modal">
        <div class="modal-content">
            <span onclick="$('#modal').hide()" class="close">&times;</span>
            <div id="modal-inner-content">
            </div>
        </div>
    </div>
    <h1 style="margin-top:130px !important;" class="text-to-dark">@StringLocalizer["Partners"] </h1>
    <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.JoinDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td class="text-to-dark">
                                @StringLocalizer[item.Status.Value.ToString()]
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.JoinDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });
    });
    let modal = document.getElementById("modal")
    window.onclick = function (event) {
        if (event.target == modal) {
            $("#modal").hide();
        }
    }
    function openDetails(id) {
        $.ajax({
            url: `/MyClub/UserDetails/${id}`,
            type: 'GET',
            async: false,
            success: function (result) {
                $("#modal-inner-content").html(result);
                $("#modal").show();
            }
        });
    }
</script>