@model IEnumerable<SCManagement.Models.UsersRoleClub>

@{
    ViewData["Title"] = "StaffList";
}
<div class="mt-5">
    <h1>StaffList</h1>
</div>

@*Popout Modal*@
<div id="modal" class="modal">
    <div class="modal-content">
        <span onclick="$('#modal').hide()" class="close">&times;</span>
        <div id="modal-inner-content">
        </div>
    </div>

</div>

<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="openDetails('@item.UserId')" style="cursor:pointer">
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    <form asp-action="RemoveUser" class="@(ViewBag.UserRoleId > item.RoleId ? "": "d-none")">
                        <input name="usersRoleClubId" value="@item.Id" class="form-control" hidden />
                        <input name="page" value="StaffList" class="form-control" hidden />
                        <input type="submit" value="Remove staff" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>


    <script type="text/javascript">
        let modal = document.getElementById("modal")
        window.onclick = function (event) {
            if (event.target == modal) {
                $("#modal").hide();
            }
        }

        function openDetails(id) {
            console.log("details", id)
            $.ajax({
                url: `/MyClub/AthleteDetails/${id}`,
                type: 'GET',
                async: false,
                success: function (result) {
                    $("#modal-inner-content").html(result);
                    $("#modal").show();
                }
            });
        }
    </script>


