@model IEnumerable<SCManagement.Models.UsersRoleClub>

@{
    ViewData["Title"] = "StaffList";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bootstrap.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="/lib/DataTables/datatables.css" />
</head>

<body class="body">
    <div class="container-fluid ps-5 pe-5">
        <h1 style="margin-top:130px !important;">Staff</h1>
        <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
            <div class="card-body">
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                                <i type="button" class="fa-solid fa-sort-up" id="sort-name" onclick="sortName()"></i>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                                <i class="fa-solid fa-sort-up sort-age" id="sort-role" onclick="sortRole()"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.JoinDate)
                                <i type="button" class="fa-solid fa-sort-up" id="sort-join-date" onclick="sortJoinDate()"></i>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JoinDate)
                                    
                                </td>
                                <td>
                                    <form asp-action="RemoveUser" class="@(ViewBag.UserRoleId > item.RoleId ? "": "d-none")">
                                        <input name="usersRoleClubId" value="@item.Id" class="form-control" hidden />
                                        <input name="page" value="StaffList" class="form-control" hidden />
                                        <input type="submit" value="Remove staff" class="btn btn-danger" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });
    });
    </script>
</body>
</html>