@model SCManagement.Models.Team
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = Model.Name + "Details";
    string cultureInfo = Thread.CurrentThread.CurrentCulture.Name;
}

<div id="modal" class="modal">
    <div class="modal-content">
        <span onclick="$('#modal').hide()" class="close">&times;</span>
        <div id="modal-inner-content">
        </div>
    </div>
</div>
<div class="container-fluid ps-5 pe-5">
    <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center" style="margin-top:130px !important;">
            <h1 class="text-to-dark">@Html.DisplayFor(model => model.Name)</h1>
            <div>
                <a id="btn-back" href="" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;">@StringLocalizer["Back"]</a>
            </div>
        </div>
        <hr class="text-to-dark" />
        <dl class="row">
            <dt class="col-sm-2 text-to-dark">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10 text-to-dark">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2 text-to-dark">
                @Html.DisplayNameFor(model => model.Modality)
            </dt>
            <dd class="col-sm-10 text-to-dark">
                @Html.DisplayFor(model => model.Modality.ModalityTranslations.Where(m => m.Language == cultureInfo).First().Value)
            </dd>
            <dt class="col-sm-2 text-to-dark">
                @Html.DisplayNameFor(model => model.Trainer)
            </dt>
            <dd class="col-sm-10 text-to-dark">
                @Html.DisplayFor(model => model.Trainer.FullName)
            </dd>
        </dl>
    </div>
    <div class="card mt-3 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @StringLocalizer["Name"]
                        </th>
                        <th class="text-to-dark">
                            @StringLocalizer["Age"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Athletes != null)
                    {
                        @foreach (var item in Model.Athletes)
                        {
                            <tr onclick="openDetails('@item.Id')" style="cursor:pointer">
                                <td class="text-to-dark">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td class="text-to-dark">
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    let modal = document.getElementById("modal")
    window.onclick = function (event) {
        if (event.target == modal) {
            $("#modal").hide();
        }
    }

    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ],
                language: {
                    "lengthMenu": "@StringLocalizer["Show"] _MENU_ @StringLocalizer["EntriesDatatable"]",
                    "emptyTable": "@StringLocalizer["EmptyMessage"]",
                    "search": "@StringLocalizer["Search"]",
                    "zeroRecords": "@StringLocalizer["NoMatching"]",
                    "processing": "@StringLocalizer["Processing"]",
                    "infoFiltered": "(@StringLocalizer["Filtered"] @StringLocalizer["From"] _MAX_ total @StringLocalizer["EntriesDatatable"])",
                    "info": "@StringLocalizer["Showing"] _START_ @StringLocalizer["To"] _END_ @StringLocalizer["OfDatatable"] _TOTAL_ @StringLocalizer["EntriesDatatable"]",
                    "infoEmpty": "@StringLocalizer["Showing"] 0 @StringLocalizer["OfDatatable"] 0 @StringLocalizer["EntriesDatatable"]",
                    "paginate": {
                        first: "@StringLocalizer["First"]",
                        last: "@StringLocalizer["Last"]",
                        next: "@StringLocalizer["Next"]",
                        previous: "@StringLocalizer["Previous"]",
                    },
                },
        });
        document.getElementById("btn-back").setAttribute("href", `${document.referrer.toString().toLowerCase().includes('teamlist') ? '/MyClub/TeamList' : '/MyClub/MyTeams'}`)
    });

    function openDetails(id) {
        $.ajax({
            url: `/MyClub/UserDetails/${id}`,
            type: 'GET',
            async: false,
            success: function (result) {
                $("#modal-inner-content").html(result);
                $("#modal").show();
            }
        });
    }
</script>

