@model IEnumerable<SCManagement.Models.Team>

@{
    ViewData["Title"] = "TeamList";
}

<div class="container-fluid ps-5 pe-5">
    <h1 style="margin-top:130px !important;">Teams</h1>
    <p>
        <a asp-action="CreateTeam">Create Team</a>
    </p>
    <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Modality)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trainer)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Modality.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trainer.FullName)
                            </td>
                            <td>
                                <a asp-action="EditTeam" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="TeamDetails" asp-route-id="@item.Id">Details</a> |
                                <form asp-action="DeleteTeam">
                                    <input name="id" value="@item.Id" class="form-control" hidden />
                                    <button type="submit"> Delete </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });
    });
</script>