@model SCManagement.Models.Team

@{
    ViewData["Title"] = Model.Name + "Details";
}

<h1>View</h1>

<div id="modal" class="modal">
    <div class="modal-content">
        <span onclick="$('#modal').hide()" class="close">&times;</span>
        <div id="modal-inner-content">
        </div>
    </div>
</div>

<div class="mt-5">
    <h4 class="mt-5 mb-5">@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modality.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.FullName)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Athletes != null)
            {
                @foreach (var item in Model.Athletes)
                {
                    <tr onclick="openDetails('@item.Id')" style="cursor:pointer">
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="EditTeam" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="TeamList">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    let modal = document.getElementById("modal")
    window.onclick = function (event) {
        if (event.target == modal) {
            $("#modal").hide();
        }
    }
    function openDetails(id) {
        $.ajax({
            url: `/MyClub/UserDetails/${id}`,
            type: 'GET',
            async: false,
            success: function (result) {
                $("#modal-inner-content").html(result);
                $("#modal").show();
            }
        });
    }
</script>

