@model IEnumerable<SCManagement.Models.Team>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "TeamList";
}



<div class="container-fluid ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark mb-5">@StringLocalizer["Teams"]</h1>
    @if (ViewBag.CanCreate == true)
    {
        <a asp-action="CreateTeam" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A; padding: 6px 12px; text-decoration:none;">@StringLocalizer["CreateTeam"]</a>
    }
    <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <table id="table_id" class="display" style="width:100%!important;">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Modality)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Trainer)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Modality.Name)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Trainer.FullName)
                            </td>
                            <td class="d-flex justify-content-end align-items-center">
                                <a asp-action="EditTeam" asp-route-id="@item.Id" class="me-2" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A; padding: 6px 12px; text-decoration:none;">@StringLocalizer["Edit"]</a>
                                <a asp-action="TeamDetails" asp-route-id="@item.Id" class="me-2" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A; padding: 6px 12px; text-decoration:none;">@StringLocalizer["Details"]</a>
                                <form asp-action="DeleteTeam">
                                    <input name="id" value="@item.Id" class="form-control" hidden />
                                    <button type="submit" style="border-radius: 10px; background-color: red; border-color: black;" class="btn btn-primary"> @StringLocalizer["Delete"] </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/DataTables-1.13.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/Responsive-2.4.0/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            responsive: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            columnDefs: [
                { orderable: false, targets: [-1] }
            ],
            language: {
                "lengthMenu": "@StringLocalizer["Show"] _MENU_ @StringLocalizer["EntriesDatatable"]",
                "emptyTable": "@StringLocalizer["EmptyMessage"]",
                "search": "@StringLocalizer["Search"]",
                "zeroRecords": "@StringLocalizer["NoMatching"]",
                "processing": "@StringLocalizer["Processing"]",
                "infoFiltered": "(@StringLocalizer["Filtered"] @StringLocalizer["From"] _MAX_ total @StringLocalizer["EntriesDatatable"])",
                "info": "@StringLocalizer["Showing"] _START_ @StringLocalizer["To"] _END_ @StringLocalizer["OfDatatable"] _TOTAL_ @StringLocalizer["EntriesDatatable"]",
                "infoEmpty": "@StringLocalizer["Showing"] 0 @StringLocalizer["OfDatatable"] 0 @StringLocalizer["EntriesDatatable"]",
                "paginate": {
                    first: "@StringLocalizer["First"]",
                    last: "@StringLocalizer["Last"]",
                    next: "@StringLocalizer["Next"]",
                    previous: "@StringLocalizer["Previous"]",
                },
            },
        });
    });
</script>