@model SCManagement.Models.EventTranslations

<div id="@Model.Atribute.ToLower()-@Model.Language" class="row form-outline @Model.Atribute.ToLower()-lang">
    <textarea asp-for="Value" data-lang="@Model.Language"></textarea>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Language)
    @Html.HiddenFor(x => x.Atribute)
</div>
