@model SCManagement.Services.PlansService.Models.TrainingPlan
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "CreateTrainingPlan";
    var val = ViewBag.Apply;
}

<h1>CreateTrainingPlan</h1>

<h4>TrainingPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form"  asp-action="CreateTrainingPlan" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainerId" />
            <input type="hidden" asp-for="AthleteId" />
            <input type="hidden" asp-for="IsTemplate" />

            @if (ViewBag.IsTeam)
            {
                <input type="hidden" name="teamId" value="@(ViewBag.TeamId)" />
            }

            @if (!ViewBag.Apply)
            {
                <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Description" />
                <input type="hidden" asp-for="Name" />
            }
            
            @if (!ViewBag.IsTemplate || ViewBag.Apply)
            {
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input required asp-for="StartDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input required asp-for="EndDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            }
            
            @if (!ViewBag.Apply)
            {
                <div class="form-group mt-3">
                    <span>@StringLocalizer["Choose modalities"]:</span>
                <select required data-placeholder=" " style="width: fit-content !important;" asp-for="ModalityId" class="form-control chosen-select" asp-items="ViewBag.Modalities"></select>
                <span asp-validation-for="ModalityId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="ModalityId" />
            }
            
            <div id="sessions" class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">ExerciseName</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">ExerciseDescription</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Repetitions</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Duration</label>
                </div>
                @Html.EditorFor(x => x.TrainingPlanSessions)
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Add sessions" class="btn btn-primary">Add sessions</button>
            </div>

            @if (ViewBag.Apply)
            {
                <input type="hidden" name="apply" value="true" />
                <div class="form-group">
                    <button type="submit" name="action" value="Apply" class="btn btn-primary">Apply</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    <button type="submit" name="action" value="Create" class="btn btn-primary">Create</button>
                </div>
            }
            
        </form>
    </div>
</div>






