@model SCManagement.Controllers.PlansController.CreateTrainingPlanModel
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "CreateTrainingPlan";
}

<div class="container ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark">@StringLocalizer["Create Training Plan"]</h1>
    <hr />
    <div class="card mt-5 shadow" style="border-radius:20px;">
        <div class="card-body">
            <div class="row">
                <form id="form"  asp-action="CreateTrainingPlan" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TrainerId" />
                    <input type="hidden" asp-for="AthleteId" />
                    <input type="hidden" asp-for="IsTemplate" />

                    @if (!ViewBag.Apply)
                    {
                        <div class="form-floating mt-3">
                            <input asp-for="Name" class="form-control" />
                            <label asp-for="Name" class="control-label"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-3">
                            <input asp-for="Description" class="form-control" />
                            <label asp-for="Description" class="control-label"></label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="Description" />
                        <input type="hidden" asp-for="Name" />
                    }
            
                    <div class="form-floating mt-3">
                        <input required asp-for="StartDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                        <label asp-for="StartDate" class="control-label"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input required asp-for="EndDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                        <label asp-for="EndDate" class="control-label"></label>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    
            
                    @if (!ViewBag.Apply)
                    {
                        <div class="form-group mt-4">
                            <span class="text-to-dark">@StringLocalizer["Choose modalities"]:</span>
                        <select required data-placeholder=" " style="width: fit-content !important;" asp-for="ModalityId" class="form-control" asp-items="ViewBag.Modalities"></select>
                        <span asp-validation-for="ModalityId" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="ModalityId" />
                    }
            
                    <div id="sessions" class="row">
                        @Html.EditorFor(x => x.TrainingPlanSessions)
                    </div>
                    <div class="d-flex mt-5" style="float:right;">
                        <div class="form-group">
                            <button type="submit" name="action" value="Add sessions" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;">@StringLocalizer["Add Sessions"]</button>
                        </div>
                        <div class="ms-2">
                            <a asp-action="TrainingZone" asp-controller="MyClub" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;">@StringLocalizer["Cancel"]</a>
                        </div>
                        @if (ViewBag.Apply)
                        {
                            <input type="hidden" name="apply" value="true" />
                            <div class="form-group ms-2">
                                <button type="submit" name="action" value="Apply" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;">@StringLocalizer["Apply"]</button>
                            </div>
                        }
                        else
                        {
                            <div class="form-group ms-2">
                                <button type="submit" name="action" value="Create" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;">@StringLocalizer["Create"]</button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






