@model SCManagement.Services.PlansService.Models.MealPlan

@{
    ViewData["Title"] = "EditMealPlan";
}

<h1>EditMealPlan</h1>

<h4>MealPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMealPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainerId" />
            <input type="hidden" asp-for="AthleteId" />
            <input type="hidden" asp-for="IsTemplate" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (!ViewBag.IsTemplate)
            {
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" min="@Model.StartDate.Value.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" min="@Model.EndDate.Value.AddMinutes(5).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            }
            <div id="sessions" class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">MealName</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">MealDescription</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Time</label>
                </div>
                @Html.EditorFor(x => x.MealPlanSessions)
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Add sessions" class="btn btn-primary">Add sessions</button>
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Edit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

