@model SCManagement.Services.PlansService.Models.TrainingPlan
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "EditTrainingPlan";
}

<h1>EditTrainingPlan</h1>

<h4>TrainingPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTrainingPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainerId" />
            <input type="hidden" asp-for="AthleteId" />
            <input type="hidden" asp-for="IsTemplate" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (!ViewBag.IsTemplate)
            {
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" min="@DateTime.Now.AddMinutes(5).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" min="@DateTime.Now.AddMinutes(5).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group mt-3">
                <span>@StringLocalizer["Choose modalities"]:</span>
                <select required data-placeholder=" " style="width: fit-content !important;" asp-for="ModalityId" class="form-control chosen-select" asp-items="ViewBag.Modalities"></select>
                <span asp-validation-for="ModalityId" class="text-danger"></span>
            </div>
            <div id="sessions" class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">ExerciseName</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">ExerciseDescription</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Repetitions</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Duration</label>
                </div>
                @Html.EditorFor(x => x.TrainingPlanSessions)
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Add sessions" class="btn btn-primary">Add sessions</button>
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="Edit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

