@model SCManagement.Services.PlansService.Models.MealPlan
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "MealDetails";
}
<style>
    dt {
        border: 1px solid gainsboro;
        padding: 3px;
    }

    dd {
        border: 1px solid gainsboro;
        margin-bottom: 0;
        padding: 3px;
    }

    dl{
        border: 1px solid gainsboro;
    }
</style>
<div class="container ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark">@StringLocalizer["Meal Plan"]</h1>
    <hr />
    <div class="card mt-5 shadow" style="border-radius:20px;">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2 dlBg text-to-dark">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10 dlBg text-to-dark">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2 text-to-dark">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10 text-to-dark">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                @if (!Model.IsTemplate)
                {
                    <dt class="col-sm-2 dlBg text-to-dark">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd class="col-sm-10 dlBg text-to-dark">
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt class="col-sm-2 text-to-dark">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd class="col-sm-10 text-to-dark">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt class="col-sm-2 dlBg text-to-dark">
                        @Html.DisplayNameFor(model => model.AthleteId)
                    </dt>
                    <dd class="col-sm-10 dlBg text-to-dark">
                        @Html.DisplayFor(model => model.AthleteId)
                    </dd>
                }
            </dl>
            <table class="table" style="width:100%!important;">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @StringLocalizer["Meal Name"]
                        </th>
                        <th class="text-to-dark">
                            @StringLocalizer["Meal Description"]
                        </th>
                        <th class="text-to-dark">
                            @StringLocalizer["Time"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MealPlanSessions)
                    {
                        <tr>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.MealName)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.MealDescription)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Time)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!ViewBag.isAthlete)
        {
            <div class="d-flex justify-content-end me-3 mb-3">
                <a asp-action="EditMealPlan" asp-route-id="@Model?.Id" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A; padding: 6px 12px; text-decoration:none;">@StringLocalizer["Edit"]</a>
            </div>
        }
    </div>
</div>
