@model SCManagement.Services.PlansService.Models.MealPlan
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "MealDetails";
}

<h1>MealDetails</h1>

<div>
    <h4>MealPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (!Model.IsTemplate)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AthleteId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AthleteId)
            </dd>
        }
    </dl>
<table id="table_id" class="display" style="width:100%!important;">
        <thead>
            <tr>
                <th class="text-to-dark">
                    @StringLocalizer["Name"]
                </th>
                <th class="text-to-dark">
                    @StringLocalizer["Description"]
                </th>
                <th class="text-to-dark">
                    @StringLocalizer["Time"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MealPlanSessions)
            {
                <tr>
                    <td class="text-to-dark">
                        @Html.DisplayFor(modelItem => item.MealName)
                    </td>
                    <td class="text-to-dark">
                        @Html.DisplayFor(modelItem => item.MealDescription)
                    </td>
                    <td class="text-to-dark">
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="EditMealPlan" asp-route-id="@Model?.Id">Edit</a>
</div>
