@model IEnumerable<SCManagement.Services.PlansService.Models.MealPlan>

@{
    ViewData["Title"] = "MealTemplates";
}

@if (ViewBag.IsTemplate)
{
    <h1>MealPlans</h1>
}
else
{
    <h1>@ViewBag.AthleteName Meal Plans</h1>
}

@if (ViewBag.IsTemplate)
{
    <p>
        <a asp-route-isTemplate="true" asp-action="CreateMealPlan">Create New Template</a>
    </p>
}
@*else tem que se fazer aquela view de escolher se e para aplicar ou nao o template
{
    <p>
        <a asp-route-isTemplate="true" asp-action="CreateMealPlan">Create New Template</a>
            </p>
}*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.FullName)
            </td>
            <td>
                <a asp-action="EditMealPlan" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="MealDetails" asp-route-id="@item.Id">Details</a> |
                <form asp-action="DeleteMealPlan">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
