@model IEnumerable<SCManagement.Services.PlansService.Models.TrainingPlan>

@{
    ViewData["Title"] = "TrainingTemplates";
}

<h1>TrainingTemplates</h1>

<p>
    <a asp-route-isTemplate="true" asp-action="CreateTrainingPlan">Create New Template</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTemplate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modality.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTemplate)
            </td>
            <td>
                <a asp-action="EditTrainingPlan" asp-route-id="@item.Id">Edit</a> |
                <form asp-action="DeleteTrainingPlan">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
