@page
@model LoginModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCManagement.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image" style="
        background-image: url('/img/baseball_stadium.jpg');
        background-position:center;
        height: 300px;
        "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 85%, 0.3);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <!-- Back to Master Page -->
                        <div class="pt-0 ps-0 m-5 pt-sm-1 ps-sm-1 pt-lg-3 ps-lg-4">
                            <a class="nav-link text-white text-co btn btn-primary btn-sm text-dark fs-5 fw-bold" asp-page="/">Back</a>
                        </div>
                        <h2 class="fw-bold mb-5">Sign in</h2>
                        <form id="account" method="post">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Validations -->
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">

                                <div class="form-outline">
                                    <!-- Email input -->
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>


                                <div class="form-outline">
                                    <!-- Password input -->
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                            </div>

                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>


                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            </div>
                            <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Or sign in with:</h3>

                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>

        </div>
    </section>
    <!-- Section: Design Block -->
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
