@inject IStringLocalizer<SharedResource> StringLocalizer

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Bootstrap.styles.css" asp-append-version="true" />

<h1 class="text-center pt-4 text-to-dark">@StringLocalizer["About Us"]</h1>

<div class="container mt-4 body">
    <div class="card ps-2 pe-md-2 ">
        <div class="card-body">
            <p class="text-to-dark" style="text-align:justify">
                @StringLocalizer["AboutText"]
            </p>
        </div>
    </div>


    <div class="pt-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/David.jpg" style="max-height:300px; max-width:100%; object-fit:cover" class="card-img-top"
                         alt="David Belchior" />
                    <div class="card-body">
                        <h5 class="card-title text-to-dark">David Belchior - @StringLocalizer["ProjectManager"]</h5>
                        <p class="card-text text-to-dark">
                            @StringLocalizer["DavidAbout"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Guilherme.png" style="max-height:300px; max-width:100%; object-fit:cover" class="card-img-top"
                         alt="Guilherme Oliveira" />
                    <div class="card-body">
                        <h5 class="card-title text-to-dark">Guilherme Oliveira - @StringLocalizer["FrontEndDeveloper"]</h5>
                        <p class="card-text text-to-dark">
                            @StringLocalizer["OliveiraAbout"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Peralta.jpeg" style="max-height:300px; max-width:100%; object-fit:cover" class="card-img-top"
                         alt="Pedro Peralta" />
                    <div class="card-body">
                        <h5 class="card-title text-to-dark">Pedro Peralta - @StringLocalizer["SoftwareDeveloper"]</h5>
                        <p class="card-text text-to-dark">
                            @StringLocalizer["PeraltaAbout"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Andre.jpg" style="max-height:300px; max-width:100%; object-fit:cover" class="card-img-top"
                         alt="André Matias" />
                    <div class="card-body">
                        <h5 class="card-title text-to-dark">André Matias - @StringLocalizer["SoftwareDeveloper"]</h5>
                        <p class="card-text text-to-dark">
                            @StringLocalizer["MatiasAbout"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" style="max-height:300px; max-width:100%; object-fit:cover" class="card-img-top"
                         alt="André Matias" />
                    <div class="card-body">
                        <h5 class="card-title text-to-dark">Dinis Pimpão - @StringLocalizer["SoftwareDeveloper"]</h5>
                        <p class="card-text text-to-dark">
                            @StringLocalizer["DinisAbout"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>