@model SCManagement.Services.PaymentService.Models.Subscription

<div>
    <h4>Subscription for @Model.Product.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoRenew)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoRenew)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        @if (Model.CardInfo != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CardInfo.LastFourDigits)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardInfo.LastFourDigits)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CardInfo.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardInfo.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CardInfo.ExpirationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardInfo.ExpirationDate)
            </dd>
        }
        @if (!Model.AutoRenew)
        {
            <div>
                Your subscription is set to manual renew! You can enable auto renew and set a credit/debit card
                to enable it, or go to your <a asp-action="Index" asp-controller="Payment">payments page</a>
                to pay manually.
            </div>
        }
        else if (Model.AutoRenew && Model.Status == SCManagement.Services.PaymentService.Models.SubscriptionStatus.Waiting)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ConfigUrl)
            </dt>
            <dd class="col-sm-10">
                <a href="@Model.ConfigUrl">@Model.ConfigUrl</a>
            </dd>
        }
    </dl>
</div>
<div>
    @if (Model.Product.ProductType == SCManagement.Services.PaymentService.Models.ProductType.ClubSubscription)
    {
        <a asp-action="UpdatePlan" asp-route-id="@Model.Id">Update Plan (NOT DONE)</a>
    }
    <a asp-action="UpdateAutoRenew" asp-route-id="@Model.Id">@(Model.AutoRenew ? "Disable AutoRenew" : "Enable AutoRenew")</a>
    <button onclick="cancelSub(@Model.Id)">Cancel (NOT DONE)</button>
</div>

<script>
    const cancelSub = (id) => {
        const res = confirm("Are you sure that you want to cancel the subscription? It will be canceled at the end of the payment cycle")
        if (res) {
            $.ajax({
                url: `/Subscription/Cancel`,
                data: { id },
                type: 'POST',
                async: true,
                success: function (result) {
                    window.location = `https://${window.location.host}/Subscription`
                }
            });
        }
    }
</script>