@model IEnumerable<SCManagement.Services.PaymentService.Models.Subscription>

@{
    ViewData["Title"] = "Subscriptions";
}

<h1>Subscriptions</h1>

<div id="modal" class="modal">
    <div class="modal-content" style="margin-top:7%; margin-bottom:0;">
        <span onclick="closeModal()" class="close">&times;</span>
        <div id="modal-inner-content"></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoRenew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="openDetails(@item.Id)" style="cursor:pointer">
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)€
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (item.Club != null)
                {
                    <td>
                        @item.Product.Name (@item.Club.Name)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.AutoRenew)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    window.onload = () => {
        const id = "@ViewBag.SubId";
        if (id != "") openDetails(id)
    }

    const closeModal = () => {
        $("#modal").hide();
        const url = new URL(window.location);
        url.search = '';
        window.history.pushState(null, '', url.toString());
    }

    let modal = document.getElementById("modal");

    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal();
        }
    }

    function openDetails(id) {
        $.ajax({
            url: `/Subscription/Details/${id}`,
            type: 'GET',
            async: false,
            success: function (result) {
                $("#modal-inner-content").html(result);
                $("#modal").show();
                $("#error").text("@ViewBag.Error");
            }
        });
    }
</script>