@model SCManagement.Services.PaymentService.Models.Payment
@inject IStringLocalizer<SharedResource> StringLocalizer

<style>
    .cc-selector input {
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .creditcard {
        background-image: url(https://cdn.scmanagement.me/public/visamc_nobg.png);
    }

    .mbway {
        background-image: url(https://cdn.scmanagement.me/public/mbway_nobg.png);
    }

    .reference {
        background-image: url(https://cdn.scmanagement.me/public/mb_nobg.png);
    }

    .cc-selector input:active + .card-cc {
        opacity: .9;
    }

    .cc-selector input:checked + .card-cc {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
    }

    .card-cc {
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 100px;
        height: 70px;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(0.9) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(0.9) opacity(.7);
        filter: brightness(1.8) grayscale(0.9) opacity(.7);
    }

        .card-cc:hover {
            -webkit-filter: brightness(1.2) opacity(.9);
            -moz-filter: brightness(1.2) opacity(.9);
            filter: brightness(1.2) opacity(.9);
        }

</style>

<div>
    <h4>Payment</h4>
    <hr />

    <div style="color:red;" id="error"></div>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Product)</th>
                <th>@Html.DisplayNameFor(model => model.Value)</th>
                <th>@Html.DisplayNameFor(model => model.PaymentMethod)</th>
                <th>@Html.DisplayNameFor(model => model.PaymentStatus)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(model => model.PayedAt)</th>
                @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.Reference)
                {
                    <th>@Html.DisplayNameFor(model => model.MbEntity)</th>
                    <th>@Html.DisplayNameFor(model => model.MbReference)</th>
                }
                @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.MbWay)
                {
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                }
                @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.CreditCard)
                {
                    @if (Model.PaymentStatus != SCManagement.Services.PaymentService.Models.PaymentStatus.Paid)
                    {
                        <th>@Html.DisplayNameFor(model => model.Url)</th>
                    }
                    else
                    {
                        <th>@Html.DisplayNameFor(model => model.CardInfo.LastFourDigits)</th>
                        <th>@Html.DisplayNameFor(model => model.CardInfo.Type)</th>
                        <th>@Html.DisplayNameFor(model => model.CardInfo.ExpirationDate)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Product.Name)</td>
                <td>@Html.DisplayFor(model => model.Value)</td>
                <td>@Html.DisplayFor(model => model.PaymentMethod)</td>
                <td>@Html.DisplayFor(model => model.PaymentStatus)</td>
                <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                <td>@Html.DisplayFor(model => model.PayedAt)</td>
                @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.Reference)
                {
                    <td>@Html.DisplayFor(model => model.MbEntity)</td>
                    <td>@Html.DisplayFor(model => model.MbReference)</td>
                }
                @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.MbWay)
                {
                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                }
                @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.CreditCard)
                {
                    @if (Model.PaymentStatus != SCManagement.Services.PaymentService.Models.PaymentStatus.Paid)
                    {
                        <td>@Html.DisplayFor(model => model.Url)</td>
                        <td><a href="@Model.Url">Click here to pay</a></td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(model => model.CardInfo.LastFourDigits)</td>
                        <td>@Html.DisplayFor(model => model.CardInfo.Type)</td>
                        <td>@Html.DisplayFor(model => model.CardInfo.ExpirationDate)</td>
                    }
                }
            </tr>
        </tbody>
    </table>
    @if (Model.SubscriptionId != null)
    {
        <div class="mb-3 mt-4">
            <a href="/Subscription?subId=@Model.SubscriptionId" style="color:white; text-decoration:none; border-radius: 10px; padding:10px; background-color: #00639A; border-color: #00639A;" asp->Go to subscription</a>
        </div>
    }
    <div class="mt-3">
        @if (Model.PaymentStatus != SCManagement.Services.PaymentService.Models.PaymentStatus.Paid)
        {
            @await Html.PartialAsync("_PaymentPartial", new SCManagement.Services.PaymentService.Models.PayPayment {Id = Model.Id})
        }
    </div>
</div>


