@model SCManagement.Services.PaymentService.Models.Payment

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayedAt)
        </dd>
        @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.Reference)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MbEntity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MbEntity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MbReference)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MbReference)
            </dd>
        }
        @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.MbWay)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        }
        @if (Model.PaymentMethod == SCManagement.Services.PaymentService.Models.PaymentMethod.CreditCard)
        {
            @if (Model.PaymentStatus != SCManagement.Services.PaymentService.Models.PaymentStatus.Paid)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Url)
                </dt>
                <dd class="col-sm-10">
                    <a href="@Model.Url">Click here to pay</a>
                </dd>
            }
            else
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CardInfo.LastFourDigits)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CardInfo.LastFourDigits)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CardInfo.Type)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CardInfo.Type)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CardInfo.ExpirationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CardInfo.ExpirationDate)
                </dd>
            }
        }
        @if(Model.SubscriptionId != null)
        {
            <a href="/Subscription?subId=@Model.SubscriptionId" asp->Go to subscription</a>
        }
    </dl>
</div>