@model IEnumerable<SCManagement.Services.PaymentService.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<div id="modal" class="modal">
    <div class="modal-content" style="margin-top:7%; margin-bottom:0;">
        <span onclick="$('#modal').hide()" class="close">&times;</span>
        <div id="modal-inner-content"></div>
    </div>
</div>


<div class="container-fluid ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark">Wallet</h1>
    <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <table id="table_id"" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayedAt)
                            </td>
                            <td>
                                <button onclick="openDetails(@item.Id)">Details</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    let modal = document.getElementById("modal");

    window.onclick = function (event) {
        if (event.target == modal) {
            $("#modal").hide();
        }
    }

    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            order: [[1, 'desc']],
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });
    });

    function openDetails(id) {
        $.ajax({
            url: `/Payment/Details/${id}`,
            type: 'GET',
            async: false,
            success: function (result) {
                $("#modal-inner-content").html(result);
                $("#modal").show();
            }
        });
    }
</script>