@using SCManagement.Services.PaymentService.Models;
@model SCManagement.Services.PaymentService.Models.Payment

@{
    ViewData["Title"] = "PaymentStatus";
}

<div>

    @*
    mostrar nome do produto em grande no meio
    *@
    <h1>@Html.DisplayFor(model => model.Product.Name)</h1>

    @if (Model.PaymentStatus == PaymentStatus.Paid)
    {
        // MOSTRAR QUE ESTÁ PAGO
        <h1>PAGO</h1>
        <p>Via: @Model.PaymentMethod</p>
    }
    else
    {
        //MULTIBANCO (REFERENCIA)
        if (Model.PaymentMethod == PaymentMethod.Reference)
        {
            //mostrar o simbolo do multibanco + entidade e referencia abaixo
            //do simbolo 1 em cada linha
            <img src="https://cdn.scmanagement.me/public/mb_nobg.png" />
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.MbEntity)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.MbEntity)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.MbReference)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.MbReference)
            </div>
        }

        //MBWAY
        if (Model.PaymentMethod == PaymentMethod.MbWay)
        {
            //timer de 5 minutos?
            //mostrar o simbolo do mbway + numero de telemovel
            //para onde foi enviado o pedido de pagamento

            <img src="https://cdn.scmanagement.me/public/mbway_nobg.png" />
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </div>
        }

        if (Model.PaymentMethod == PaymentMethod.CreditCard)
        {
            <img src="https://cdn.scmanagement.me/public/visamc_nobg.png" />
            <a href="@Model.Url">Click here to pay</a>
        }
    }
    <div class="col-sm-2">
        @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.Value)
    </div>
</div>