@model SCManagement.Models.Event
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Edit";
}

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
      rel="stylesheet" />
<!-- Import Mapbox GL Draw -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css"
      type="text/css" />
<!-- Import Mapbox GL JS  -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
      rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin="" />


<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollLimitDate" class="control-label"></label>
                <input asp-for="EnrollLimitDate" class="form-control" />
                <span asp-validation-for="EnrollLimitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input type="number" step="0.01" min="0" asp-for="Fee" class="form-control" value="0" readonly="@(ViewBag.ValidKey == false)" />
                <span asp-validation-for="Fee" class="text-danger"></span>
                <span style="color: orange;">@(ViewBag.ValidKey == false ? StringLocalizer["Warning_InvalidKey"] : "")</span>
            </div>
            <div class="form-group">
                <label asp-for="MaxEventEnrolls" class="control-label"></label>
                <input asp-for="MaxEventEnrolls" class="form-control" />
                <span asp-validation-for="MaxEventEnrolls" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HaveRoute" /> @Html.DisplayNameFor(model => model.HaveRoute)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Route" class="control-label"></label>
                <input asp-for="Route" type="hidden" class="form-control" id="ev" />
            </div>
            
            <div class="form-group">
                <label asp-for="AddressByPath" class="control-label"></label>
                <input asp-for="AddressByPath" disabled class="form-control" id="AddressByPath" />
            </div>

            <div class="form-group">
                <label asp-for="EventResultType" class="control-label"></label>
                <select asp-for="EventResultType" class="form-control" asp-items="ViewBag.EventResultType"></select>
                <span asp-validation-for="EventResultType" class="text-danger"></span>
            </div>

            <br /> <br />
            <input type="hidden" class="form-control" id="path" value="@((Model.Route != null) ? Model.Route : "null")" />

            <div class="card card-to-dark col-xs-12 col-sm-12 col-md-7 mt-sm-5 mt-5 mt-lg-0 mt-md-0" style="min-height:400px; min-width:1000px">
                <div class="card-body">
                    <div id='map'></div>
                    <div id="save">
                        <button type="button" id="save-button">Save</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/PathMapBox.js" asp-append-version="true"></script>

<style>
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 20px;
        height: 100%
    }

    .mapboxgl-canvas-container {
        height: 100vh;
    }

    #save {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        right: 10%;
        top: 10%;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    <script>
        var strings = {
            "noMatch": '@Html.Raw(StringLocalizer["NoMatch"].Value.ToString())',
            "noSegment": '@Html.Raw(StringLocalizer["NoSegment"].Value.ToString())',
            "tooManyCoordinates": '@Html.Raw(StringLocalizer["TooManyCoordinates"].Value.ToString())',
            "profileNotFound": '@Html.Raw(StringLocalizer["ProfileNotFound"].Value.ToString())',
            "invalidInput": '@Html.Raw(StringLocalizer["InvalidInput"].Value.ToString())',
            "other": '@Html.Raw(StringLocalizer["Other"].Value.ToString())',
            "start": '@Html.Raw(StringLocalizer["Start"].Value.ToString())',
            "end": '@Html.Raw(StringLocalizer["End"].Value.ToString())',
            "altimetryChart": '@Html.Raw(StringLocalizer["AltimetryChart"].Value.ToString())',
            "distance": '@Html.Raw(StringLocalizer["Distance"].Value.ToString())',
            "altitude": '@Html.Raw(StringLocalizer["Altitude"].Value.ToString())',
            "altimetry": '@Html.Raw(StringLocalizer["Altimetry"].Value.ToString())',
        };
    </script>
