@model IEnumerable<SCManagement.Models.Event>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark">@StringLocalizer["Events"]</h1>
    @if (ViewBag.IsStaff != null && ViewBag.IsStaff == true)
    {
        <p>
            <a asp-action="Create">@StringLocalizer["Create New"]</a>
        </p>
    }
    
    <div class="card mt-5 shadow" style="height:650px !important;  border-radius:20px;">
        <div class="card-body">
            <div class="mb-4 mt-2">
                <input id="FilterEvent0" name="FilterEvent" value="0" type="radio" style="accent-color: #00639A">
                <label for="FilterEvent0" class="text-to-dark">@StringLocalizer["All"]</label>

                <input id="FilterEvent1" name="FilterEvent" value="1" type="radio" style="accent-color: #00639A" class="ms-2">
                <label for="FilterEvent1" class="text-to-dark">@StringLocalizer["InProgress"]</label>

                <input id="FilterEvent2" name="FilterEvent" value="2" type="radio" style="accent-color: #00639A" class="ms-2">
                <label for="FilterEvent2" class="text-to-dark">@StringLocalizer["Finished"]</label>

                <input id="FilterEvent3" name="FilterEvent" value="3" type="radio" style="accent-color: #00639A" class="ms-2">
                <label for="FilterEvent3" class="text-to-dark">@StringLocalizer["Futures"]</label>
            </div>

            <table id="table_id" class="display" style="width:100%!important;">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @StringLocalizer["Name"]
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Club)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-to-dark">
                                @Html.DisplayFor(model => item.EventTranslations.FirstOrDefault(c => c.Atribute == "Name").Value)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(modelItem => item.Club.Name)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">@StringLocalizer["Details"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/DataTables-1.13.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/Responsive-2.4.0/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $("#table_id").DataTable({
            responsive: true,
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });

        // Adiciona um evento onchange aos botões de opção
        let radioButtons = document.querySelectorAll('input[type="radio"][name="FilterEvent"]');
        for (let i = 0; i < radioButtons.length; i++) {
            radioButtons[i].addEventListener('change', filterEvents);
        }

        // Mantém o botão de opção verificado de acordo com o parâmetro "filterEvent" na URL
        const urlParams = new URLSearchParams(window.location.search);
        const filterValue = urlParams.get('filterEvent');
        if (filterValue !== null) {
            document.getElementById(`FilterEvent${filterValue}`).checked = true;
        }else{
            document.getElementById(`FilterEvent0`).checked = true;
        }

        let table_id_info = document.getElementById("table_id_info");
        table_id_info.classList.add("text-to-dark");
    });

    // Filtra a lista de eventos com base no botão de opção selecionado
    function filterEvents() {
        var filterValue = this.value;
        window.location.href = `/Events/?filterEvent=${ filterValue }`;
           
    }
    
    
</script>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
