@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IStringLocalizer<SharedResource> StringLocalizer

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />
@if (SignInManager.IsSignedIn(User))
{
    <div class="row mt-5 mb-5">
        <div id="calendar-full">
            <div class="calendar-container" id="calendar-container">
                <div class="calendar">
                    <div class="year-header">
                        <span class="left-button" id="prev"> &lang; </span>
                        <span class="year" id="label"></span>
                        <span class="right-button" id="next"> &rang; </span>
                    </div>
                    <table class="months-table">
                        <tbody>
                            <tr class="months-row">
                                <td class="month text-to-dark">Jan</td>
                                <td class="month text-to-dark">Feb</td>
                                <td class="month text-to-dark">Mar</td>
                                <td class="month text-to-dark">Apr</td>
                                <td class="month text-to-dark">May</td>
                                <td class="month text-to-dark">Jun</td>
                                <td class="month text-to-dark">Jul</td>
                                <td class="month text-to-dark">Aug</td>
                                <td class="month text-to-dark">Sep</td>
                                <td class="month text-to-dark">Oct</td>
                                <td class="month text-to-dark">Nov</td>
                                <td class="month text-to-dark">Dec</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="days-table">
                        <td class="day text-to-dark">@StringLocalizer["Sun"]</td>
                        <td class="day text-to-dark">@StringLocalizer["Mon"]</td>
                        <td class="day text-to-dark">@StringLocalizer["Tue"]</td>
                        <td class="day text-to-dark">@StringLocalizer["Wed"]</td>
                        <td class="day text-to-dark">@StringLocalizer["Thu"]</td>
                        <td class="day text-to-dark">@StringLocalizer["Fri"]</td>
                        <td class="day text-to-dark">@StringLocalizer["Sat"]</td>
                    </table>
                    <div class="frame">
                        <table class="dates-table" style="max-width:100%;">
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
                    <button class="button" id="add-button">@StringLocalizer["AddEvent"]</button>
                </div>
            </div>
            <div class="events-container">
            </div>
        </div>
    </div>
}
else
{
    <div class="row align-items-center mt-xl-5">
        <p class="col-md-4 col-lg-6 text-to-dark" style="text-align:center"> @StringLocalizer["NotDone"]</p>
        <img src="~/img/under-construction-png_667893.png" class="col-md-4 col-lg-6" alt="NotDone" />
    </div>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
<script src="~/js/calendar.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    var strings = {
        "noEvents": '@Html.Raw(StringLocalizer["NoEvents"].Value.ToString())',
    };
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });

    var date = document.getElementsByClassName('table-date');
    for (let i = 0; i < date.length; i++) {
        date[i].classList.add("text-to-dark");
    }

 
</script>