@model IEnumerable<SCManagement.Models.Club>
@inject IStringLocalizer<SharedResource> StringLocalizer

<div class="overflow-auto mt-4" style="max-height:400px;">
    <div id="search-results-partial">
        @foreach (var item in Model)
        {

            <div class="card card-to-dark shadow-sm mt-2" id="@item.Id" onclick="flyToClub('@item.Address?.CoordinateX','@item.Address?.CoordinateY')" style="cursor:pointer;">
                <div class="card-body d-flex justify-content-between" style="margin-top:0 !important;">
                    <div class="col-8">
                        <h3 class="text-to-dark">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h3>
                        <p style="white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;" class="text-to-dark">
                            @Html.DisplayFor(modelItem => item.ClubTranslations.FirstOrDefault(c => c.Atribute == "About").Value)
                        </p>
                        <div>
                            <a asp-route-id="@item.Id" style="font-size:20px; padding-left:0; width:fit-content" asp-action="Details">@StringLocalizer["Details"]</a>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <img src="@(item?.Photography?.Uri ?? "https://cdn.scmanagement.me/public/user_placeholder.png")" crossorigin="anonymous" class="rounded-circle" style="height: 100px; object-fit:cover; aspect-ratio:1;" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script src="~/js/Mapbox.js" asp-append-version="true"></script>
