@model IEnumerable<SCManagement.Services.PaymentService.Models.Subscription>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = @StringLocalizer["DelayedPayments"];
}
<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.13.3/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/lib/DataTables/Responsive-2.4.0/css/responsive.bootstrap.css">

<style>
    #modal1 {
        min-width:132px;
        min-height:132px;
    }
</style>

<div class="container-fluid ps-5 pe-5">

    <div class="d-flex align-items-center" style="margin-top:130px !important; margin-left:3%">
        <h1 class="text-to-dark">@StringLocalizer["DelayedPayments"]</h1>
    </div>

    @if (ViewBag.Message != null)
    {
        <div style="color:green;">@StringLocalizer[ViewBag.Message]</div>
    }
    <div class="card mt-5 shadow" style="min-height:fit-content !important; border-radius:20px;">
        <div class="card-body">
            <table id="table-payments" class="display" style="width:100%!important;">
                <thead>
                    <tr>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Club)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.NextTime)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Product)
                        </th>
                        <th class="text-to-dark">
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subscription in Model)
                    {
                        <tr>
                            <td class="text-to-dark">
                                @subscription.Club.Name (@subscription.User.FullName)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(_ => subscription.NextTime.Date)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(_ => subscription.Product.Name)
                            </td>
                            <td class="text-to-dark">
                                @Html.DisplayFor(_ => subscription.Value)€
                            </td>
                            <td class="justify-content-end">
                                <form asp-action="NotifyMissingPayment" id="myForm">
                                    <input name="subId" value="@subscription.Id" class="form-control" hidden />
                                    <input type="submit"
                                       value='@StringLocalizer["Notify"]'
                                       class='btn btn-primary'
                                       onclick="toggleRemoveModal()" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content" style="margin-top:20%; margin-bottom:0; max-height:20%; max-width:20%">
            <span class="text-to-dark">@StringLocalizer["NotConfirm"]</span>
            <div class="d-flex justify-content-end mt-3">
                <a onclick="confirmAction()" style="color:white; padding: 6px 12px; border-radius: 10px; background-color: #00639A; border-color: #00639A; margin-right:3%; cursor: pointer;">@StringLocalizer["Yes"]</a>
                <a onclick="$('#modal1').hide()" style="color:white; padding: 6px 12px; border-radius: 10px; background-color: red; border-color: red; cursor: pointer;"><strong>@StringLocalizer["No"]</strong></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/DataTables-1.13.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/Responsive-2.4.0/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $("#table-payments").DataTable({
            responsive: true,
            order: [],
            columnDefs: [
                { orderable: false }
            ],
            language: {
                "lengthMenu": "@StringLocalizer["Show"] _MENU_ @StringLocalizer["EntriesDatatable"]",
                "emptyTable": "@StringLocalizer["EmptyMessage"]",
                "search": "@StringLocalizer["Search"]",
                "zeroRecords": "@StringLocalizer["NoMatching"]",
                "processing": "@StringLocalizer["Processing"]",
                "infoFiltered": "(@StringLocalizer["Filtered"] @StringLocalizer["From"] _MAX_ total @StringLocalizer["EntriesDatatable"])",
                "info": "@StringLocalizer["Showing"] _START_ @StringLocalizer["To"] _END_ @StringLocalizer["OfDatatable"] _TOTAL_ @StringLocalizer["EntriesDatatable"]",
                "infoEmpty": "@StringLocalizer["Showing"] 0 @StringLocalizer["OfDatatable"] 0 @StringLocalizer["EntriesDatatable"]",
                "paginate": {
                    first: "@StringLocalizer["First"]",
                    last: "@StringLocalizer["Last"]",
                    next: "@StringLocalizer["Next"]",
                    previous: "@StringLocalizer["Previous"]",
                },
            },
        });
    });

    document.getElementById('myForm').addEventListener('submit', function (event) {
        event.preventDefault();
        toggleRemoveModal();
    });

    function toggleRemoveModal() {
        $("#modal1").show();
    }

    function confirmAction() {
        document.getElementById('myForm').submit();
    }
</script>