@model IEnumerable<SCManagement.Services.PaymentService.Models.Product>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Manage Plans";
}

<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.13.3/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/lib/DataTables/Responsive-2.4.0/css/responsive.bootstrap.css">

<style>
    #modalConfirm {
        min-width: 132px;
        min-height: 132px;
    }
</style>

<div class="container-fluid ps-5 pe-5">
    <div class="d-flex align-items-center" style="margin-top:130px !important; margin-left:3%">
        <h1 class="text-to-dark">@StringLocalizer["Manage Plans"]</h1>
    </div>

    <p>
        <a asp-action="CreatePlan">@StringLocalizer["Create Plan"]</a>
    </p>

    <div class="card mt-5 shadow" style="min-height:fit-content !important; border-radius:20px;">
        @if (ViewBag.Error != null)
        {
            <div style="color:red;">@StringLocalizer[ViewBag.Error]</div>
        }
        else if (ViewBag.Message != null)
        {
            <div style="color:green;">@StringLocalizer[ViewBag.Message]</div>
        }
        <div class="card-body">
            <table class="table" id="table-plans">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Frequency)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Enabled)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AthleteSlots)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => StringLocalizer[item.Frequency.ToString()].Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Enabled)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AthleteSlots)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/Backoffice/EditPlan/@item.Id">@StringLocalizer["Edit"]</a>
                                <form asp-action="TogglePlan" id="toggle-plan-form">
                                    <input name="planId" value="@item.Id" class="form-control" hidden />
                                    <input type="submit"
                                           data-action="@(!item.Enabled)"
                                           value='@(item.Enabled ? StringLocalizer["Disable"] : StringLocalizer["Enable"])'
                                           class='btn @(item.Enabled ? "btn-danger" : "btn-info")' />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalConfirm" class="modal">
        <div class="modal-content" style="margin-top:20%; margin-bottom:0; max-height:20%; max-width:20%">
            <span class="text-to-dark">@StringLocalizer["PlanToggleStatus"]</span>
            <div class="d-flex justify-content-end mt-3">
                <a onclick="confirmAction()" style="color:white; padding: 6px 12px; border-radius: 10px; background-color: #00639A; border-color: #00639A; margin-right:3%; cursor: pointer;">@StringLocalizer["Yes"]</a>
                <a onclick="$('#modalConfirm').hide()" style="color:white; padding: 6px 12px; border-radius: 10px; background-color: red; border-color: red; cursor: pointer;"><strong>@StringLocalizer["No"]</strong></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/DataTables-1.13.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/Responsive-2.4.0/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $("#table-plans").DataTable({
            responsive: true,
            order: [],
            columnDefs: [
                { orderable: false }
            ],
            language: {
                "lengthMenu": "@StringLocalizer["Show"] _MENU_ @StringLocalizer["EntriesDatatable"]",
                "emptyTable": "@StringLocalizer["EmptyMessage"]",
                "search": "@StringLocalizer["Search"]",
                "zeroRecords": "@StringLocalizer["NoMatching"]",
                "processing": "@StringLocalizer["Processing"]",
                "infoFiltered": "(@StringLocalizer["Filtered"] @StringLocalizer["From"] _MAX_ total @StringLocalizer["EntriesDatatable"])",
                "info": "@StringLocalizer["Showing"] _START_ @StringLocalizer["To"] _END_ @StringLocalizer["OfDatatable"] _TOTAL_ @StringLocalizer["EntriesDatatable"]",
                "infoEmpty": "@StringLocalizer["Showing"] 0 @StringLocalizer["OfDatatable"] 0 @StringLocalizer["EntriesDatatable"]",
                "paginate": {
                    first: "@StringLocalizer["First"]",
                    last: "@StringLocalizer["Last"]",
                    next: "@StringLocalizer["Next"]",
                    previous: "@StringLocalizer["Previous"]",
                },
            },
        });
    });

    document.getElementById('toggle-plan-form').addEventListener('submit', function (event) {
        event.preventDefault();
        $("#modalConfirm").show();
    });

    function confirmAction() {
        document.getElementById('toggle-plan-form').submit();
    }
</script>