@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Operations";
}

<style>
    .flip-card {
        min-width:170px;
        min-height: 250px;
        width: 100% !important;
        height: 100% !important;
        perspective: 1000px;
        border-radius: 20px;
        opacity: 0;
        animation: slideUp 1.5s ease forwards .5s;
    }

    .flip-card-inner:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }

    .flip-card-inner {
        padding: 30px;
        width: 100% !important;
        background-color: white;
        display: flex;
        justify-content: center;
        height: 100% !important;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 20px;
    }
    h1 {
        opacity: 0;
        animation: slideUp 1.5s ease forwards .5s;
    }
        .flip-card-inner:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
        }
</style>
<div class="container w-100">
    <div class="d-flex justify-content-center w-100" style="margin-top:150px !important; text-align: center;">
        <h1 class="text-to-dark">@StringLocalizer["Operations"]</h1>
    </div>
    <hr />
    <div class="d-flex row justify-content-evenly text-center">
        <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
            <a asp-controller="Backoffice" asp-action="UserAccess" style="color:black; text-decoration:none;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="circle" id="circle1" title="@StringLocalizer["UserAccess"]">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="~/img/img_381236.png" style="width:100%; aspect-ratio:1; margin-bottom:15px;">
                                    <div style="position:absolute; bottom:15px;">
                                        <strong style="font-size:100%!important;">@StringLocalizer["UserAccess"]</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
            <a asp-controller="Backoffice" asp-action="Modalities" style="color:black; text-decoration:none;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class=" d-flex justify-content-center align-items-center">
                            <div class="circle" id="circle1" title="@StringLocalizer["Modalities"]">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="~/img/Screenshot 2023-04-06 130437.png" style="width:100%; aspect-ratio:1; margin-bottom:15px;">
                                    <div style="position:absolute; bottom:15px;">
                                        <strong style="font-size:100%!important;">@StringLocalizer["Modalities"]</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardBtn col-6 col-sm-6 col-md-4 col-lg-2 mt-4 d-flex justify-content-center">
            <a asp-controller="Backoffice" asp-action="ManagePlans" style="color:black; text-decoration:none;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="circle" id="circle1" title="@StringLocalizer["Manage Plans"]">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="~/img/917417-200.png" style="width:100%; aspect-ratio:1; margin-bottom:15px;">
                                    <div style="position:absolute; bottom:15px;">
                                        <strong style="font-size:100%!important;">@StringLocalizer["Manage Plans"]</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>